.body {
	font-family: 'Roboto', sans-serif;
	font-style: normal font-size;
	color: #2E2F42;
	background: #E5E5E5;
}

.link {
	text-decoration: none;
}

.link {
	text-style: none;
}

.list {
	list-style: none;
}

/* ----------------------шапка сайта---------------- */

.header {
	background-color: lightslategrey;
}

.header-navigator {}

.header-logo {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: calc(24 / 18);
	letter-spacing: 0.03em;
	color: #4D5AE5;
	color: #2E2F42;
}

.logo-web {
	color: #4D5AE5
}

.header-list {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.header-item {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.header-address {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.02em;
	color: #434455;
}

.header-infoadress {}

.header-infotelefon {}

/* --------------------герой---------------------- */

.section-btn {
	background: rgba(46, 47, 66, 0.7);
}

.section-header {
	font-weight: 700;
	font-size: 56px;
	line-height: calc(60 / 56);
	letter-spacing: 0.02em;
	color: #FFFFFF;
}

.button-btn {
	background: #4D5AE5;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

/* ------------------фильтр в портфолио-------- */
/* спрятать заголовок */

.main-btn {
	font-family: 'Roboto';
	background: #F4F4FD;
	color: #4D5AE5;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.04em;
}

.main-list-a {
	font-family: 'Roboto';
	width: 69px;
	height: 48px;
	background: #686fc1;
	color: #FFFFFF;
}

.main-list-b {
	font-family: 'Roboto';
	width: 116px;
	height: 48px;
}

.main-list-c {
	font-family: 'Roboto';
	width: 78px;
	height: 48px;
}

.main-list-d {
	font-family: 'Roboto';
	width: 101px;
	height: 48px;
}

.main-list-e {
	font-family: 'Roboto';
	width: 126px;
	height: 48px;
}

/* -----------секция в index.html----------- */

.section-benefits {}

.benefits-header {
	width: 264px;
	height: 24px;
	color: #2E2F42;
	font-weight: 500;
	font-size: 20px;
	line-height: calc(24 /20);
	letter-spacing: 0.02em;
}

.benefits-list {}

.benefits-item {}

.benefits-text {
	width: 264px;
	height: 72px;
	color: #434455;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.02em;
}

.section-gallery {}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.gallery-link {
	width: 360px;
	height: 300px;
}

.gallery-text-a {
	width: 290px;
	height: 24px;
	font-weight: 500;
	font-size: 20px;
	line-height: calc(24 / 20);
	letter-spacing: 0.02em;
	color: #2E2F42;
	;
}

.gallery-text-b {
	width: 30px;
	height: 24px;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.02em;
	color: #434455;
}

/* --------gallerey in index.html-------------- */

.section-gallery {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(40 / 36);
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.gallery-list {}

.gallery-item {}

.gallery-art {}

/* ---------------section teamcard----------- */

.section-teamcard {}

.teamcard-header-a {
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.teamcard-list {}

.teamcard-foto {
	width: 264px;
	height: 260px;
}

.teamcard-header {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.teamcard-text {
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.02em;
	color: #434455;
}

.teamcard-item {}

/* ------------------SECTION CLIENT------------- */

.section-client {}

.client-header {}

.client-list {}

.client-foto {}

/* --------------------FOOTER----------------- */

.footer {
	background: #2E2F42;
}

.footer-link {
	font-weight: 800;
	font-size: 18px;
	line-height: calc(21 / 18);
	letter-spacing: 0.03em;
	color: #F4F4FD;
}

.footer-text {
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.02em;
	color: #E7E9FC;
}

.footer-header {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.02em;
	color: #FFFFFF;
}

.footer-list {}

.footer-item {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.02em;
	color: #FFFFFF;
}


/* .header-logo:is(:hover, :focus) {
	color: #31D0AA;
}

.header-item:is(:hover, :focus) {
	color: #31D0AA;
}

.header-infoadress:is(:hover, :focus) {
	color: #31D0AA;
}

.header-infotelefon:is(:hover, :focus) {
	color: #31D0AA;
} */